.footer-wrapper{
    background-color: var(--darker-background-transparent);
    width: 70%;
    margin: 3rem auto;
    border: 2px solid var(--pseudo-white);
    padding:2rem;
}
.footer-thanks{
    font-size: 3rem;
    color:var(--pseudo-white);
    margin-block-end: 2rem;
}
.footer-thanks::before{
    content:">";
    margin-inline-end: 1rem;
}
.footer-text{
    color:var(--pseudo-white);
    margin-block-end: 2rem;
}
.media-wrapper{
    list-style-type: none;

}
.media-account{
    margin-inline-start: 2rem;
    color: var(--pseudo-white);
}
.footer-background{
    width:200vw;
}
.footer-background-item{
    width:200vw;
}
.footer-layer1-item{
    animation: translateinfinite 6s linear infinite;
  }
.footer-layer2-item{
    animation: translateinfinite 9s linear infinite;
}
.footer-layer3-item{
    animation: translateinfinite 12s linear infinite;
}
.footer-layer1{
    display:flex;
    width:200vw;
}
.footer-layer2{
    display:flex;
    width:200vw;
}
.footer-layer3{
    display:flex;
    width:200vw;
}