.nav-container{
  width:5rem;
  height: 5rem;
}
.nav-button{
  width: 100%;
  height: 100%;
  border-radius: 30%;
}
.option-wrapper{
  position: relative;
}
.option-element{
  position: absolute;
}
.pos-el-1{
  top:2rem;
}
.pos-el-2{
  top:1.5rem;
  left: 1.5rem;
}
.pos-el-3{
  left:2rem;
}
.shown{
  display:block
}
.hide{
  display:none
}
