.numbers-banner-item{
  width:200vw;
  animation: translateinfinite 6s linear infinite
}

.bannerwrapper{
  display:flex;
  width:200vw;
}
@keyframes translateinfinite {
	100% { transform:translateX(-100vw);  }
}
