.number-animation{
    margin-block-start: 2rem;
    height: 3rem;
    width: 200vw;
    overflow: hidden;
    color:var(--pseudo-white);
    font-size:3rem;
  }
  @keyframes infinite-horizontal-scroll{
    from {margin-left: 0%;
  }
    to{
      margin-left: -100%;
    }
  } 