@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora:ital,wght@0,500;1,500&display=swap');

:root{
    --darkest-background: #041323;
    --darker-background: #0d1b2a;
    --darker-background-transparent: rgba(13, 27, 42,0.8);
    --grey-keys: #415a77;
    --pseudo-white: #e0e1dd;
    --console-font:      'Source Code Pro', monospace;
    --regular-font: 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--regular-font);
}
@keyframes titilandum{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
main{
    margin: 0 auto;
}
body{
    background-color: var(--darker-background);
    max-width: 100%;
    overflow-x: hidden;
}
html{
    max-width: 100%;
    overflow-x: hidden;
}


